## Introduction to Python

### Python as a calculator

In [1]:
# Add 19 and 17
print(19 + 17)

# Subtract 12 from 99
print(99 - 12)

# Multiply 27 by 23
print(27 * 23)

# Divide 99 by 12
print(99 / 12)

36
87
621
8.25

### Advanced calculations

In [2]:
# Calculate and print nine squared
print(9 ** 2)

# Find the remainder from 337 divided by 27
print(337 % 27)

81
13

### Checking data types

In [3]:
current_quarter = 4
revenue_on_target = True

In [4]:
# Print the data type of current_quarter
print(type(current_quarter))

<class 'int'>

In [5]:
# Print the data type of 9.75
print(type(9.75))

<class 'float'>

In [6]:
# Print the data type of revenue_on_target
print(type(revenue_on_target))

<class 'bool'>

### Working with variables

In [7]:
# Create a string variable called name
name = "John Smith"

# Create an integer variable called age
age = 47

# Create a string variable called address
address = 'The Shard, London, SE1 9SG'

# Print their information
print(name, age, address)

John Smith 47 The Shard, London, SE1 9SG

### Checking and updating conditions

In [8]:
age = 47

# Create a boolean variable called is_adult
is_adult = True

# Update John's address
address = 'Buckingham Palace, London, SW1A 1AA'

# Print their information
print(address, is_adult)

Buckingham Palace, London, SW1A 1AA True

## Working with Data Types

### Multi-line strings

In [9]:
# Create review_one
review_one = """I really enjoy the courses,
and they are easy to fit into my busy schedule. 
I wish I had started using your platform sooner.
I'll be recommending you to my friends!!
"""

# Create review_two
review_two = """One year ago, I was unsure of how to make progress in my career. 
Now, I work as a Prompt Engineer, and I can't thank you enough! 
Keep up the great work.
"""

# Print the two reviews individually
print(review_one)
print(review_two)

I really enjoy the courses,
and they are easy to fit into my busy schedule.
I wish I had started using your platform sooner.
I'll be recommending you to my friends!!

One year ago, I was unsure of how to make progress in my career.
Now, I work as a Prompt Engineer, and I can't thank you enough!
Keep up the great work.

### Modifying string variables

In [10]:
most_popular_course = "Intro to Embeddings with the OpenAI API"

# Update the first word
most_popular_course = most_popular_course.replace('Intro', 'Introduction')

# Swap spaces for underscores
most_popular_course = most_popular_course.replace(' ', '_')

# Change to lowercase
most_popular_course = most_popular_course.lower()

print(most_popular_course)

introduction_to_embeddings_with_the_openai_api

### Building a party playlist

In [11]:
# Create the playlist variable
playlist = [1, "Blinding Lights", 2, "One Dance", 3, "Uptown Funk"]

# Print the list
print(playlist)

[1, 'Blinding Lights', 2, 'One Dance', 3, 'Uptown Funk']

### Subsetting lists

In [12]:
playlist = [1, 'Blinding Lights', 'The Weeknd', 2, 'One Dance', 'Drake', 3, 'Uptown Funk', 'Mark Ronson', 4, 'Closer', 'The Chainsmokers', 5, 'One Kiss', 'Calvin Harris', 6, 'Mr. Brightside', 'The Killers']

# Find the second song
print(playlist[4])

# Get the last song's artist
print(playlist[-1])

# Print all songs in the playlist
print(playlist[1::3])

One Dance
The Killers
['Blinding Lights', 'One Dance', 'Uptown Funk', 'Closer', 'One Kiss', 'Mr. Brightside']

### Building a playlist dictionary

In [13]:
# Create the playlist dictionary
playlist = {
    'The Weeknd': 'Blinding Lights',
    'Drake': 'One Dance',
    'Mark Ronson': 'Uptown Funk',
    'The Chainsmokers': 'Closer',
    'Calvin Harris': 'One Kiss',
    'The Killers': 'Mr. Brightside',
    'Oasis': 'Wonderwall',
    'Rihanna': 'We Found Love',
    'Coldplay': 'Paradise'
}

# Print the playlist
print(playlist)

{'The Weeknd': 'Blinding Lights', 'Drake': 'One Dance', 'Mark Ronson': 'Uptown Funk', 'The Chainsmokers': 'Closer', 'Calvin Harris': 'One Kiss', 'The Killers': 'Mr. Brightside', 'Oasis': 'Wonderwall', 'Rihanna': 'We Found Love', 'Coldplay': 'Paradise'}

### Working with dictionaries

In [14]:
# Print the song by Coldplay
print(playlist['Coldplay'])

# Add a new song
playlist['Usher'] = 'Yeah!'

# Print the songs in the playlist
print(playlist.values())

Paradise
dict_values(['Blinding Lights', 'One Dance', 'Uptown Funk', 'Closer', 'One Kiss', 'Mr. Brightside', 'Wonderwall', 'We Found Love', 'Paradise', 'Yeah!'])

### Last quarter's revenue

In [15]:
# Create a tuple
q3_financials = (325780, 1041, 4271599)

# Print the tuple
print(q3_financials)

(325780, 1041, 4271599)

### DJ Sets

In [16]:
hip_hop = ["Drake", "JAY-Z", "50 Cent", "Drake"]

# Create a set
indie_set = {"Kings of Leon", "Arctic Monkeys", "Stereophonics"}

# Convert hip_hop to a set
hip_hop_set = set(hip_hop)

# Print the indie and hip_hop sets
print(indie_set, hip_hop_set)

{'Arctic Monkeys', 'Stereophonics', 'Kings of Leon'} {'50 Cent', 'JAY-Z', 'Drake'}

## Conditional statements and operators

### Checking inflation

In [17]:
inflation_august = 6.7
inflation_september = 6.7

# Check if September inflation is less than August inflation
if inflation_september < inflation_august:
    print("Inflation decreased")

# Check if September inflation is more than August inflation
elif inflation_september > inflation_august:
    print("Inflation increased")

# Confirm that they are equal
else:
    print("Inflation remained stable")

Inflation remained stable

### On the rental market

In [18]:
min_num_beds = 2
min_sq_foot = 750
max_rent = 1900

num_beds = 3
sq_foot = 800
rent = 1750

# Check the number of beds
if num_beds < min_num_beds:
    print("Insufficient bedrooms")

# Check square feet
elif sq_foot <= min_sq_foot:
    print("Too small")

# Check rent
elif rent > max_rent:
    print("Too expensive")

# If all conditions met
else:
    print("This looks promising!")

This looks promising!

### Looping through a list

In [19]:
user_ids = ["T42YG4KTK", "VTQ39IDQ0", "CRL11YUWX", 
            "K6Y5URXLR", "V4XCBER7V", "IOGQWC61K"]

# Loop through user_ids
for user_id in user_ids:
    # Print the user_id
    print(user_id)

T42YG4KTK
VTQ39IDQ0
CRL11YUWX
K6Y5URXLR
V4XCBER7V
IOGQWC61K

### Updating a variable with for loops

In [20]:
# Create the tickets_sold variable
tickets_sold = 0

# Create the max_capacity variable
max_capacity = 30

# Loop through a range up to and including max_capacity's value
for i in range(1, max_capacity + 1):
    # Add one to tickets_sold in each iteration
    tickets_sold += 1

print("Sold out:", tickets_sold, "tickets sold!")

Sold out: 30 tickets sold!

### Conditional looping with a dictionary

In [21]:
courses = {"LLM Concepts": "AI", 
           "Introduction to Data Pipelines": "Data Engineering", 
           "AI Ethics": "AI",
           "Introduction to dbt": "Data Engineering", 
           "Writing Efficient Python Code": "Programming",
           "Introduction to Docker": "Programming"}

# Loop through the dictionary's keys and values
for key, value in courses.items():
    # Check if the value is "AI"
    if value == "AI":
        print(key, "is an AI course")
    # Check if the value is "Programming"
    elif value == "Programming":
        print(key, "is a Programming course")
    # Otherwise, print that it is a "Data Engineering" course
    else:
        print(key, "is a Data Engineering course")

LLM Concepts is an AI course
Introduction to Data Pipelines is a Data Engineering course
AI Ethics is an AI course
Introduction to dbt is a Data Engineering course
Writing Efficient Python Code is a Programming course
Introduction to Docker is a Programming course

### Converting to a while loop

In [22]:
tickets_sold = 0
max_capacity = 10

# Create a while loop
while tickets_sold < max_capacity:
    # Add one to tickets_sold in each iteration
    tickets_sold += 1

# Print the number of tickets sold
print("Sold out:", tickets_sold, "tickets sold!")

Sold out: 10 tickets sold!

### Conditional while loops

In [23]:
release_date = 26
current_date = 22

# Create a conditional loop while current_date is less than or equal to the release_date
while current_date <= release_date:
    # Increment current_date by one
    current_date += 1

    # Promote purchases
    if current_date <= 24:
        print("Purchase before the 25th for early access")

    # Check if the date is equal to the 25th
    elif current_date == 25:
        print("Coming soon!")
    else:
        print("Available now!")

Purchase before the 25th for early access
Purchase before the 25th for early access
Coming soon!
Available now!
Available now!

### Appending to a list

In [24]:
authors = {'Penny Jordan': 200,
 'Nicholas Sparks': 22,
 'Ken Follett': 30,
 'Erskine Caldwell': 25,
 'Wilbur Smith': 32,
 'Judith Krantz': 12,
 'Harold Robbins': 23,
 'J. K. Rowling': 22,
 'Debbie Macomber': 199,
 'Eiichiro Oda': 106,
 'Danielle Steel': 179,
 'Barbara Cartland': 723,
 'Georges Simenon': 570,
 'Corín Tellado': 4000,
 'Clive Cussler': 37,
 'Sidney Sheldon': 21,
 'Dean Koontz': 91,
 'Janet Dailey': 93,
 'Jirō Akagawa': 500,
 'Stephen King': 77}

# Create an empty list
authors_below_twenty_five = []

# Loop through the authros dictionary
for key, value in authors.items():
    # Check for values less than 25
    if value < 25:
        # Append the author to the list
        authors_below_twenty_five.append(key)

print(authors_below_twenty_five)

['Nicholas Sparks', 'Judith Krantz', 'Harold Robbins', 'J. K. Rowling', 'Sidney Sheldon']

### Book genre popularity

In [25]:
genre_sales = {'Adventure': 367500000,
 'Horror': 312500000,
 'Literature': 80000000,
 'Manga': 5166000000,
 'Mystery': 300000000,
 'Romance': 252500000,
 'Thriller': 320000000}

largest_average_sales = 5166000000
smallest_sales_revenue = 80000000

for genre, average_sale in genre_sales.items():
    # Filter for maximum sales value
    if average_sale == largest_average_sales:
        # Print the genre
        print("Most popular genre:", genre)
        print("Average sales:", average_sale)

    # Filter for the minimum sales value
    elif average_sale == smallest_sales_revenue:
        # Print the genre
        print("Least popular genre:", genre)
        print("Average sales:", average_sale)

Least popular genre: Literature
Average sales: 80000000
Most popular genre: Manga
Average sales: 5166000000

### Working with keywords

In [26]:
# Loop through the dictionary
for genre, sale in genre_sales.items():
    # Check if genre is Horror or Mystery
    if genre == "Horror" or genre == "Mystery":
        print(genre, sale)

    # Check if genre is Thriller and sale is at least 3 million
    elif genre == "Thriller" and sale >= 30000000:
        print(genre, sale)

Horror 312500000
Mystery 300000000
Thriller 320000000