## Introduction to Python

### Python as a calculator

In [9]:
# Add 19 and 17
print(19 + 17)

# Subtract 12 from 99
print(99 - 12)

# Multiply 27 by 23
print(27 * 23)

# Divide 99 by 12
print(99 / 12)

36
87
621
8.25

### Advanced calculations

In [10]:
# Calculate and print nine squared
print(9 ** 2)

# Find the remainder from 337 divided by 27
print(337 % 27)

81
13

### Checking data types

In [11]:
current_quarter = 4
revenue_on_target = True

In [12]:
# Print the data type of current_quarter
print(type(current_quarter))

<class 'int'>

In [13]:
# Print the data type of 9.75
print(type(9.75))

<class 'float'>

In [14]:
# Print the data type of revenue_on_target
print(type(revenue_on_target))

<class 'bool'>

### Working with variables

In [15]:
# Create a string variable called name
name = "John Smith"

# Create an integer variable called age
age = 47

# Create a string variable called address
address = 'The Shard, London, SE1 9SG'

# Print their information
print(name, age, address)

John Smith 47 The Shard, London, SE1 9SG

### Checking and updating conditions

In [16]:
age = 47

# Create a boolean variable called is_adult
is_adult = True

# Update John's address
address = 'Buckingham Palace, London, SW1A 1AA'

# Print their information
print(address, is_adult)

Buckingham Palace, London, SW1A 1AA True

## Working with Data Types

### Multi-line strings

In [18]:
# Create review_one
review_one = """I really enjoy the courses,
and they are easy to fit into my busy schedule. 
I wish I had started using your platform sooner.
I'll be recommending you to my friends!!
"""

# Create review_two
review_two = """One year ago, I was unsure of how to make progress in my career. 
Now, I work as a Prompt Engineer, and I can't thank you enough! 
Keep up the great work.
"""

# Print the two reviews individually
print(review_one)
print(review_two)

I really enjoy the courses,
and they are easy to fit into my busy schedule.
I wish I had started using your platform sooner.
I'll be recommending you to my friends!!

One year ago, I was unsure of how to make progress in my career.
Now, I work as a Prompt Engineer, and I can't thank you enough!
Keep up the great work.

### Modifying string variables

In [21]:
most_popular_course = "Intro to Embeddings with the OpenAI API"

# Update the first word
most_popular_course = most_popular_course.replace('Intro', 'Introduction')

# Swap spaces for underscores
most_popular_course = most_popular_course.replace(' ', '_')

# Change to lowercase
most_popular_course = most_popular_course.lower()

print(most_popular_course)

introduction_to_embeddings_with_the_openai_api

### Building a party playlist

In [22]:
# Create the playlist variable
playlist = [1, "Blinding Lights", 2, "One Dance", 3, "Uptown Funk"]

# Print the list
print(playlist)

[1, 'Blinding Lights', 2, 'One Dance', 3, 'Uptown Funk']

### Subsetting lists

In [30]:
playlist = [1, 'Blinding Lights', 'The Weeknd', 2, 'One Dance', 'Drake', 3, 'Uptown Funk', 'Mark Ronson', 4, 'Closer', 'The Chainsmokers', 5, 'One Kiss', 'Calvin Harris', 6, 'Mr. Brightside', 'The Killers']

# Find the second song
print(playlist[4])

# Get the last song's artist
print(playlist[-1])

# Print all songs in the playlist
print(playlist[1::3])

One Dance
The Killers
['Blinding Lights', 'One Dance', 'Uptown Funk', 'Closer', 'One Kiss', 'Mr. Brightside']

### Building a playlist dictionary

In [35]:
# Create the playlist dictionary
playlist = {
    'The Weeknd': 'Blinding Lights',
    'Drake': 'One Dance',
    'Mark Ronson': 'Uptown Funk',
    'The Chainsmokers': 'Closer',
    'Calvin Harris': 'One Kiss',
    'The Killers': 'Mr. Brightside',
    'Oasis': 'Wonderwall',
    'Rihanna': 'We Found Love',
    'Coldplay': 'Paradise'
}

# Print the playlist
print(playlist)

{'The Weeknd': 'Blinding Lights', 'Drake': 'One Dance', 'Mark Ronson': 'Uptown Funk', 'The Chainsmokers': 'Closer', 'Calvin Harris': 'One Kiss', 'The Killers': 'Mr. Brightside', 'Oasis': 'Wonderwall', 'Rihanna': 'We Found Love', 'Coldplay': 'Paradise'}

### Working with dictionaries

In [38]:
# Print the song by Coldplay
print(playlist['Coldplay'])

# Add a new song
playlist['Usher'] = 'Yeah!'

# Print the songs in the playlist
print(playlist.values())

Paradise
dict_values(['Blinding Lights', 'One Dance', 'Uptown Funk', 'Closer', 'One Kiss', 'Mr. Brightside', 'Wonderwall', 'We Found Love', 'Paradise', 'Yeah!'])

### Last quarter's revenue

In [39]:
# Create a tuple
q3_financials = (325780, 1041, 4271599)

# Print the tuple
print(q3_financials)

(325780, 1041, 4271599)

### DJ Sets

In [42]:
hip_hop = ["Drake", "JAY-Z", "50 Cent", "Drake"]

# Create a set
indie_set = {"Kings of Leon", "Arctic Monkeys", "Stereophonics"}

# Convert hip_hop to a set
hip_hop_set = set(hip_hop)

# Print the indie and hip_hop sets
print(indie_set, hip_hop_set)

{'Arctic Monkeys', 'Kings of Leon', 'Stereophonics'} {'Drake', '50 Cent', 'JAY-Z'}

## Conditional statements and operators

### Checking inflation

In [45]:
inflation_august = 6.7
inflation_september = 6.7

# Check if September inflation is less than August inflation
if inflation_september < inflation_august:
    print("Inflation decreased")

# Check if September inflation is more than August inflation
elif inflation_september > inflation_august:
    print("Inflation increased")

# Confirm that they are equal
else:
    print("Inflation remained stable")

Inflation remained stable

### On the rental market

In [47]:
min_num_beds = 2
min_sq_foot = 750
max_rent = 1900

num_beds = 3
sq_foot = 800
rent = 1750

# Check the number of beds
if num_beds < min_num_beds:
    print("Insufficient bedrooms")

# Check square feet
elif sq_foot <= min_sq_foot:
    print("Too small")

# Check rent
elif rent > max_rent:
    print("Too expensive")

# If all conditions met
else:
    print("This looks promising!")

This looks promising!