## The Python Ecosystem

### Get some assistance

In [ ]:
# Find out more about len()
print(help(len))

# Find out more about int
print(help(int))

# Find out more about lists
print(help(list))

### Counting the elements

In [1]:
course_ratings = {"LLM Concepts": 4.7, 
                  "Introduction to Data Pipelines": 4.75, 
                  "AI Ethics": 4.62, 
                  "Introduction to dbt": 4.81}

# Print the number of key-value pairs
num_courses = len(course_ratings)
print(num_courses)

4

In [2]:
course_completions = [97, 83, 121, 205, 56, 174, 92, 117, 164]

# Find the number of courses
num_courses = len(course_completions)
print(num_courses)

9

In [3]:
most_popular_course = "Introduction to dbt"

# How many characters are there in most_popular course?
title_length = len(most_popular_course)
print(title_length)

19

In [4]:
# Print the total number of course completions
print(sum(course_completions))

1109

In [5]:
# Print the largest number of completions
print(max(course_completions))

205

In [6]:
# Print the average number of completions
print(sum(course_completions) /  len(course_completions))

123.22222222222223

In [7]:
# Print the average number of completions, rounded to one decimal places
print(round(sum(course_completions) / len(course_completions), 1))

123.2

### Working with the string module

In [9]:
# Import the string module
import string

# Print all ASCII lowercase characters
print(string.ascii_lowercase)

# Print all punctuation
print(string.punctuation)

abcdefghijklmnopqrstuvwxyz
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

### Importing from a module

In [12]:
# Import date from datetime module
from datetime import date

# Create a variable called deadline
deadline = date(2024, 1, 19)

# Check the date type
print(type(deadline))

# Print the deadline
print(deadline)

<class 'datetime.date'>
2024-01-19

### Working with pandas

In [13]:
sales = {'user_id': ['KM37', 'PR19', 'YU88', 'JB18', 'LP65', 'HJ11', 'PR19', 'IJ54'],
 'date': ['01/05/2024',
  '01/05/2024',
  '01/06/2024',
  '01/06/2024',
  '01/06/2024',
  '01/06/2024',
  '01/07/2024',
  '01/07/2024'],
 'order_value': [197.75, 208.21, 134.99, 317.81, 201.3, 157.87, 99.99, 124.5]}

In [18]:
# Import pandas as pd
import pandas as pd

# Convert sales to a pandas DataFrame
sales_df = pd.DataFrame(sales)

# Preview the first five rows
print(sales_df.head())

  user_id        date  order_value
0    KM37  01/05/2024       197.75
1    PR19  01/05/2024       208.21
2    YU88  01/06/2024       134.99
3    JB18  01/06/2024       317.81
4    LP65  01/06/2024       201.30

### Performing calculations with pandas

In [21]:
# Read in sales.csv
sales_df = pd.read_csv('sales.csv')

# Print the mean order_value
print(sales_df['order_value'].mean())

# Print the total value of sales
print(sales_df['order_value'].sum())

180.3025
1442.42

## Working with Functions

### Cleaning text data

In [22]:
# Create the clean_string function
def clean_string(text):
    # Replace spaces with underscores
    no_spaces = text.replace(" ", "_")

    # Convert to lowercase
    clean_text = no_spaces.lower()

    # Return the final text as an output
    return clean_text

converted_text = clean_string("I LoVe dATaCamP!")
print(converted_text)

i_love_datacamp!

### Building a password checker

In [23]:
password = "not_very_secure_2023"

# Define the password_checker function
def password_checker(submission):
    # Check that the password variable and the submission match
    if password == submission:
        print("Successful login!")

    # Otherwise, print "Incorrect password"
    else:
        print("Incorrect password")

# Call the function
password_checker("NOT_VERY_SECURE_2023")

Incorrect password

### Adding a keyword argument

In [ ]:
# Define clean_text
def clean_text(text, lower=True):
    if lower == False:
        clean_text = text.replace(" ", "_")
        return clean_text
    else:
        clean_text = text.replace(" ", "_")
        clean_text = clean_text.lower()
        return clean_text

In [24]:
# Redefining clean_text
def clean_text(text, remove=None):
    if remove != None:
        clean_text = text.replace(remove, "")
        clean_text = clean_text.lower()
        return clean_text
    else:
        clean_text = text.lower()
        return clean_text

### Data structure converter function

In [25]:
# Create the convert_data_structure function
def convert_data_structure(data, data_type='list'):
    # If data_type is "tuple":
    if data_type == "tuple":
        data = tuple(data)

    # Else if data_type is set, convert to a set
    elif data_type == "set":
        data = set(data)
    else:
        data = list(data)
        return data

# Call the function to convert to a set
convert_data_structure({"a", 1, "b", 2, "c", 3}, data_type="set")

### Single-line docstrings

In [26]:
def clean_string(text):
    # Add a single-line docstring
    """Swap spaces to underscores and convert text to lowercase."""

    no_spaces = text.replace(" ", "_")
    clean_text = no_spaces.lower()
    return clean_text

# Access the docstring
print(clean_string.__doc__)

Swap spaces to underscores and convert text to lowercase.

### Multi-line docstrings

In [29]:
# Create the convert_data_type function
def convert_data_structure(data, data_type="list"):
    # Add a multi-line docstring
    """
    Convert a data structure to a list, tuple, or set.
    
    Args:
        data (list, tuple, or set): A data structure to be converted.
        data_type (str): String representing the type of structure to convert data to.
    
    Returns:
        data (list, tuple, or set): Converted data structure.
    
    """
    if data_type == "tuple":
        data = tuple(data)
    elif data_type == "set":
        data = set(data)
    else:
        data = list(data)
    return data

print(convert_data_structure.__doc__)

    Convert a data structure to a list, tuple, or set.

    Args:
        data (list, tuple, or set): A data structure to be converted.
        data_type (str): String representing the type of structure to convert data to.

    Returns:
        data (list, tuple, or set): Converted data structure.

### Adding arbitrary arguments

In [30]:
# Define a function called concat
def concat(*args):
    # Create an empty string
    result = ""
    # Iterate over the Python args tuple
    for arg in args:
        result += " " + arg
    return result

# Call the function
print(concat("Python", "is", "great!"))

 Python is great!

### Adding keyword arguments

In [43]:
# Define a function called concat
def concat(**kwargs):
    # Create an empty string
    result = ""

    # Iterate over the Python kwargs
    for kwarg in kwargs.values():
        result += " " + kwarg
    return result

# Call the function
print(concat(start="Python", middle="is", end="great!"))

 Python is great!

## Lambda functions and error-handling

### Adding tax

In [44]:
sale_price = 29.99

# Define a lambda function called add_tax
add_tax = lambda x: x * 1.2

# Call the lambda function
print(add_tax(sale_price))

35.988

### Calling lambda in-line

In [46]:
sale_price = 29.99

# Call a lambda function adding 20% to sale_price
print((lambda x: x * 1.2)(sale_price))

35.988

### Lambda funtion with iterables

In [49]:
sales_prices = [29.99, 9.95, 14.50, 39.75, 60.00]

# Create add_taxes to add 20% to each item in sales_prices
add_taxes = map(lambda x: x * 1.2, sales_prices)

#Â Use add_taxes to return a new list with updated values
print(list(add_taxes))

[35.988, 11.94, 17.4, 47.699999999999996, 72.0]

### Debugging code

In [52]:
# Define the sales list
sales = [125.97, 84.32, 99.78, 154.21, 78.50, 83.67, 111.13]

# Print the sales list
# print(sale) -> SyntaxError
print(sales)

[125.97, 84.32, 99.78, 154.21, 78.5, 83.67, 111.13]

### Avoiding errors

In [55]:
def snake_case(text):
    # Attempt to clean the text
    try:
        clean_text = text.replace(" ", "_")
        clean_text = clean_text.lower()
    # Run this code if an error occurs
    except:
        print("The snake_case() function expects a string as an argument, please check the data type provided.")

snake_case("User Name 187")

## Returning errors

In [60]:
def snake_case(text):
  # Check the data type
  if type(text) == str:
    clean_text = text.replace(" ", "_")
    clean_text = clean_text.lower()
  else:
    # Return a TypeError error if the wrong data type was used
    raise TypeError("The snake_case() function expects a string as an argument, please check the data type provided.")
    
snake_case("User Name 187")